<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Fashion</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">Virtual Fashion</div>
        <nav class="nav">
            <a href="{{ url_for('color_analysis') }}">Color Analysis</a>
            

            
        </nav>
    </header>
    
    <section class="hero"></section>

    <section class="content">
        <div class="text-section">

            <span class="number">1.</span>
            <br><br>
            <h2>Decode your style with a simple selfie to build your Style Formula</h2>
            <p>Discover your color palette, style guide, and tips to enhance your beauty.</p>
            
        </div>
        <div class="image-section">
            <img src="static/img5.webp" alt="Face Recognition AI" height="550" width="350">
            
        </div>
    </section>

    <section class="section">
        <img src="static/img2.webp" alt="Maximize Wardrobe" height="550">
        <div class="section-text">
            <span class="number">2.</span>
            <br><br>
            <h2>Get shopping assistance anytime, anywhere</h2>
            <p>Shop confidently with clothes that complement you and match your wardrobe.</p>
            <br>
            
        </div>
    </section>

    <section id="home" class="section active">
        <div class="front-page">
            <h1>And that's not all! Get your daily dose of outfit inspiration</h1>
            <p>Style Formula, Style any item, Wardrobe outfits, for various occasions like Work Outfit, Weekend Outfit, Winter Outfit, Summer Outfit, Ethnic Outfit.</p>
            <div class="outfit-images">
                <img src="static/img6.jpg" alt="Outfit 1">
                <img src="static/img8.jpg" alt="Outfit 2">
                <img src="static/img10.jpg" alt="Outfit 3">
                <img src="static/img9.jpg" alt="Outfit 4">
                <img src="static/img7.jpg" alt="Outfit 5">
                <img src="static/17.avif" alt="Outfit 6">
            </div>
        </div>
    </section>

    
</body>
</html>
